/*
    Contents:

    #General - Styles that apply throughout.
    #Login - Login page specific styles.
    #PageTop - Styles for the top bar across pages (includes board navigation).
    #SiteNav - Site navigation section styles.
    #BoardLayout - Styles specific to the board layout.
    #ViewItem - Styles for item view modal.
    #SettingsPage - Styles specific to the settings page.
    #FilesPage - Styles for the file viewer page.
    #3rdParty - Styles for 3rd party widgets (noty, calendar, etc.)
*/

/* #General */
html, body {
    height: 100%;width: 100%;
}
body {
    background: url(../images/bg.png);
    font-family: "Pontano Sans", sans-serif;
    font-size: 12pt;
}
th, h1, h2, h3, h4, h5, h6, #board-nav a {
    font-family: "Raleway";
    font-weight: 500;
}
th {
    font-size: 91%;
}
a, button {
    transition: background-color 0.3s, color 0.3s;
}
a:hover.fa {
    text-decoration: none;
}
textarea {
    resize: vertical;
}
.green {
    color: green;
}
.red {
    color: darkred;
}
.dateNear {
    text-shadow: 0px 0px 3px rgba(255, 163, 84, 1);
}
.datePast {
    text-shadow: 0px 0px 3px rgba(255, 81, 28, 1);
}
.unbold {
    font-weight: normal;
}
.fa-edit, .fa-trash-o {
    cursor: pointer;
}
.pull-up {
    margin-top: -10px;
}
#wrapper {
    display: table;
    table-layout: fixed;
    border-spacing: 5px;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
}

/* #Login */
.form-signin {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
    font-weight: normal;
    text-align: center;
}
.form-signin .form-signin-heading {
    margin-top: .5em;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
}
.login-container {
    background: #fff;
    border: 1px solid #ccc;
    width: 350px;
    height: 275px;
    margin: 2em auto;
    position: relative;
}
.login-error {
    text-align: center;
    font-weight: bold;
    margin-bottom: -2.1em;
}
.login-container::before, .login-container::after {
    content: "";
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: #ededed;
    border: 1px solid #ccc;
    z-index: -1;
    transform: rotateZ(4deg);
}
.login-container::after {
    top: 4px;
    z-index: -2;
    background: #efefef;
    transform: rotateZ(-4deg);
}

/* #PageTop */
#header {
    display: table-row;
    margin: 0;
}
#header h2 {
    border-bottom: 1px solid rgba(51,51,51,.2);
    margin-top: 5px;
    padding-bottom: 10px;
}
#board-nav {
    margin-top: -10px;
    overflow: hidden;
}
#board-nav p {
    margin-bottom: 2px;
    margin-left: 3px;
}
#board-nav .form-control {
    height: auto;
    padding: 3px 6px;
    margin-right: 7px;
}
#board-nav :last-child.form-control {
    margin-right: 0;
}
.version {
    margin-top: 5px;
    font-size: small !important;
}
/* #SiteNav*/
.nav {
    margin-top: -.7em;
    padding: 0;
}
.nav>li.active>a {
    cursor: default;
}
.nav>li>a {
    border: 1px solid #ccc;
    background-color: #eee;
}
.nav>li>a:hover,.nav>li>a:focus {
    background-color: #fff;
}
.content {
    display: table-row;
    height: 100%;
}

/* #BoardLayout */
#board {
    overflow-x: auto;
    width: 100%;
    height: 100%;
}
#boardColumns {
    display: table;
    width: 100%;
    height: 100%;
}
.boardColumn {
    display: table-cell;
    overflow: auto;
    min-width: 260px;
    max-width: 300px;
    height: 100%;
    margin: 5px;
    border: 1px solid rgba(51,51,51,.3);
    box-shadow: 0px 0px 3px 0px rgba(51,51,51,.2);
    border-radius: 3px;
    background-color: #fff;
}
.boardColumn > h3 {
    margin: 0;
    padding: 5px;
    background-color: #e0edf2;
    border-bottom: 1px solid rgba(51,51,51,.05);
}
.itemContainer {
    height: 94%;
    overflow: auto;
}
.default-cursor {
    cursor: default;
}
.pointer-cursor {
    cursor: pointer;
}
.filtered {
    opacity: 0.4;
}
.boardColumn.collapsed {
    min-width: 0;
    width: 1.9em;
    padding: 0;
    margin: 0;
    background-color: #e0edf2;
}
.boardColumn.collapsed > h3 {
    border: none;
    width: 1.5em;
    white-space: nowrap;
    transform: rotate(90deg) translateX(-30px);
    transform-origin: left bottom;
}
.shrink {
    float: right;
    margin-top: 5px;
    cursor: pointer;
}
.expand {
    display: none;
    cursor: pointer;
    transform: translateY(-3px) translateX(-10px);
}
.boardColumn.collapsed .shrink {
    display: none;
}
.boardColumn.collapsed .expand {
    display: inline-block;
    margin-left: 1em;
}
.boardColumn.collapsed .itemContainer {
    display: none;
}
.boardColumn.collapsed .badge {
    transform: rotate(-90deg) translateX(4px);
}
.boardItem {
    background: lightyellow;
    padding: 3px;
    margin: 5px;
    border: 1px solid rgba(51,51,51,.1);
    border-radius: 3px;
    box-shadow: 1px 1px 2px -1px rgba(51,51,51,.2);
}
.itemHeader {
    position: relative;
}
.itemHeader h4 {
    border-bottom: 1px dotted rgba(51,51,51,.3);
    cursor: move;
    padding-bottom: 3px;
    margin: 0;
    padding-right: 25px;
}
.itemHeader .badge {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    font-family: "Pontano Sans";
    border-radius: 7px;
    cursor: default;
}
.boardItem .category {
    font-weight: 700;
    text-align: right;
    display: inline-block;
    width: 100%;
    padding-right: 3px;
}
.boardItem .description {
    margin: 3px;
    max-height: 12em;
    overflow: auto;
}
.boardItem .assignee {
    font-size: .8em;
    font-family: Raleway;
}
.boardItem p:last-child {
    margin-bottom: 0;
}
.addItem {
    margin: 5px;
    text-align: right;
}
.addItem input {
    width: 90% !important;
}
.draggable-placeholder {
    height: 80px;
    box-shadow: inset 0px 0px 10px 0px rgba(51,51,51,.25);
    border-radius: 5px;
    margin: 5px;
}
span.fa {
    margin-right: 5px;
}
.lane-placeholder {
    width: 100%;
    height: 1.2em;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,.25);
    list-style: none;
}
.dropdown.fixed {
    position: fixed;
}
.contextItemWrap {
    margin: -5px 10px 0 19px;
    display: block;
}

/* #ViewItem */
.itemViewModal .modal-dialog {
    width: 700px;
}
.itemViewModal .modal-content, .view-item-details {
    overflow: hidden;
}
.itemViewModal h4 {
    padding-top: 1em;
}
.due-date {
    font-weight: bold;
    font-size: 1.1em;
    margin: .9em;
}
.view-item-details {
    padding-bottom: .5em;
    font-size: 91%;
    border: 1px solid rgba(51,51,51,.1);
    border-radius: 5px;
}
.view-item-details .description {
    margin: 1em;
    max-height: 500px;
    overflow: auto;
}
.view-item-actions {
    overflow: hidden;
    padding: .5em 0;
}
.view-item-actions a {
    display: block;
}
.alternate {
    background-color: rgba(51,51,51,.04);
}
.view-item-attachments .list-group {
    margin-bottom: 0;
}
.view-item-comment-form {
    overflow: hidden;
}
.edit-item-comment-form {
    overflow: hidden;
}
.edit-item-comment-form button {
    margin-left: 5px;
    margin-top: 5px;
}
.detail {
    display: block;
    font-size: 80%;
    margin-left: 1em;
}
p.detail {
    margin-top: -10px;
    margin-bottom: 0;
}
.links {
    margin-top: -2em;
}
.links a {
    margin-left: 3px;
}
.commentText {
    display: inline-block;
    width: 95%;
    overflow: hidden;
}
.commentActions {
    position: absolute;
    top: .8em;
    right: .4em;
}
.commentActions a {
    margin-left: 3px;
}
#add-comment {
    margin-top: 5px;
}
.sidebar {
    position: fixed;
    top: 30px;
    left: 0;
    width: 240px;
    height: 85%;
    background: #fff;
    border-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}
.sidebar .modal-header {
    position: fixed;
    width: 238px;
}
.sidebar .sidebar-content {
    margin-top: 2.55em;
    overflow: auto;
    height: 93.6%;
}
.sidebar.toggle {
    left:-240px;
}
.sidebar .fa {
    cursor: pointer;
}
.sidebar .showtab {
    border-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    position: fixed;
    top: 30px;
    left: 0;
    width: auto;
}
.showtab.toggle {
    display:none;
}
.sidebar .action {
    margin: 5px;
}

/* #SettingsPage */
.form-control.wide {
    width: 85%;
    margin-bottom: 5px;
}
.short-top {
    margin-top: -1em;
}
label.wide {
    font-weight: normal;
    width: 100%;
}
.fa-arrows-v {
    cursor: move;
    padding: 0 6px 0 5px;
    margin: 0 3px 0 0;
    border-right: 1px solid #ccc;
}
#widget-container {
    display: table-cell;
}
.min-padding { padding: 5px; }
.settings-widget {
    border: 1px solid rgba(51,51,51,.2);
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px rgba(51,51,51,.2);
}
.widget-header, .modal-header {
    margin: 0 0 5px 0;
    padding: 7px;
    border-radius: 5px 5px 0 0;
    background-color: #e0edf2;
    border-bottom: 1px solid rgba(51,51,51,.05);
}
.widget-content {
    margin: 5px;
    cursor: auto;
}
.widget-content h4 {
    clear: both;
}
.widget-content .list-group-item {
    padding: 3px 7px;
    background: transparent;
    min-width: 125px;
}
.list-group-item.small {
    padding: 3px;
}
.list-group.editable > .list-group-item {
    overflow: hidden;
}
td > .list-group {
    margin: 0;
    padding: 0;
}
fieldset > .list-group {
    margin-bottom: 10px;
}
span.filter {
    margin-left: 5px;
}
.board-status {
    font-weight: normal;
    display: inline-block;
    min-width: 70px;
}
#change-password, #default-board, #change-username, #change-email {
    width: 48%;
    float: left;
    margin-bottom: 1em;
}
#change-username, #change-email {
    margin-left: 4%;
    margin-bottom: .6em;
}
.board-options p {
    width: 48%;
    float: left;
    margin-bottom: 1em;
}
#changeUserSettings hr, .board-options hr {
    clear: both;
}
.badge { margin: 0 3px; }
.half-width {
    width: 50%;
    float: left;
    padding-right: 10px;
    margin-right: 0;
}
.half-width > ul {
    margin-right: 1em;
}
.list-group-item > a {
    margin-right: 5px;
    margin-top: 3px;
    vertical-align: top;
}
input.custom-inline {
    height: auto;
    padding: 0 6px;
    margin-top: -3px;
}
/* Activity Log slide out */
.slide-menu {
    position: fixed;
    width: 240px;
    height: 100%;
    top: 90px;
    z-index: 10000;
    right: -240px;
    transition: all 0.3s ease;
}
.slide-menu .fa-times {
    cursor: pointer;
}
.slide-menu-open {
    right: 0;
}
.slide-menu > .settings-widget {
    height: 85%;
}
.slide-menu .widget-header {
    position: fixed;
    width: 240px;
}
.slide-menu .widget-content {
    margin-top: 3em;
    height: 92%;
    overflow: auto;
}
.action {
    border: 1px solid rgba(51,51,51,.2);
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px rgba(51,51,51,.2);
    background-color: rgba(51,51,51,.005);
    padding: 5px;
    margin: 0;
    margin-bottom: 5px;
}
.action .timestamp {
    margin-bottom: -5px;
    font-size: .8em;
}

/* #FilesPage */
.files-wrapper {
    height: 100%;
}

.files-widget {
    border: 1px solid rgba(51,51,51,.2);
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px rgba(51,51,51,.2);
    height: 100%;
}

.files-widget .widget-content {
    height: 90%;
}

.files-widget .small.pull-right {
    margin-top: .3em;
}

#iframe-wrapper {
    width: 100%;
    height: 100%;
}
#iframe-wrapper iframe {
    display: block;
    border: 1px solid rgba(51,51,51,.3);
    width: 100%;
    height: 100%;
}

/* #3rdParty */
/* Bootstrap fix */
.table-responsive {
    overflow-x: inherit;
}
/* noty notifications */
.noty_bar {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 2px #333;
}
.noty_type_error {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.noty_type_warning {
    background-color: #f0ad4e;
    border-color: #eea236;
}
.noty_type_information {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.noty_type_success {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.noty_type_notification {
    background-color: #428bca;
    border-color: #357ebd;
}
/* spectrum color picker */
.sp-replacer {
    display: block;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.sp-dd {
    display: none;
}
.sp-container {
    width: 202px;
}
.sp-disabled {
    background-color: #eee;
}
.sp-preview {
    width: 100%;
}
.sp-replacer:hover, .sp-replacer.sp-active {
    border-color: rgba(51,51,51,.3);
}
.sp-container {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
}
.sp-cf:before, .sp-cf:after {
    display: none !important;
}
.sp-palette-container {
    border: none;
    padding-bottom: 290px;
}
/* jQueryUI Datepicker */
.ui-datepicker {
    border: 1px solid rgba(51,51,51,.5);
    background-color: #fff;
    border-radius: 5px;
}
.ui-datepicker .ui-datepicker-header {
    border-bottom: 1px dotted rgba(51,51,51,.5);
}
.ui-datepicker-week-end {
    background-color: rgba(51,51,51,.05);
}
.ui-state-highlight {
    background-color: rgba(51,51,51,.1);
}
.ui-state-active {
    background-color: rgba(51,51,51,.2);
}
.ui-icon-circle-triangle-e,.ui-icon-circle-triangle-w {
    text-indent: 0 !important;
    cursor: pointer;
}
.ui-icon-circle-triangle-e {
    margin-left: -1.2em !important;
}
td a.ui-state-hover {
    background-color: rgba(51,51,51,.15);
}
