<div data-include-replace="partials/header.html"></div>
<div class="slide-menu" data-ng-class="{ 'slide-menu-open': slide.open }" data-ng-if="currentUser.isAdmin">
    <div class="settings-widget">
        <h3 class="widget-header text-center">Activity Log
            <a class="pull-left fa fa-times small" data-ng-click="slide.open = false"></a>
        </h3>
        <div class="widget-content">
            <p data-ng-if="actionsLoading" class="text-center">
                <span class="fa fa-refresh fa-spin"></span> Loading...
            </p>
            <div class="action clearfix" data-ng-repeat="action in actions">
                <p>{{ action.comment }}</p>
                <p class="timestamp pull-right">{{ action.date }}</p>
            </div>
        </div>
    </div>
</div>
<div id="board-nav" data-ng-if="currentUser.isAdmin">
    <p class="pull-right">
        <a id="activityBtn" class="btn btn-warning btn-xs" role="button"
           data-ng-class="{ 'active': slide.open }" data-ng-click="slide.open = !slide.open">
            Activity Log
        </a>
    </p>
</div>
<div class="content">
    <div id="widget-container">
        <div class="min-padding col-md-6">
            <div class="settings-widget" data-ng-controller="UserSettingsCtrl">
                <div data-include-replace="partials/settingsUserModal.html"></div>
                <h3 class="widget-header">User Settings</h3>
                <div class="widget-content">
                    <div data-include-replace="partials/settingsModifyUser.html"></div>
                    <div data-include-replace="partials/settingsUserTable.html"></div>
                </div>
            </div>
        </div>
        <div class="min-padding col-md-6">
            <div class="settings-widget" data-ng-controller="BoardSettingsCtrl">
                <div data-include-replace="partials/settingsBoardModal.html"></div>
                <h3 class="widget-header">Board Settings</h3>
                <div data-include-replace="partials/settingsBoardTable.html"></div>
            </div>
        </div>
        <div class="min-padding col-md-6">
            <div class="settings-widget" data-ng-controller="AutomaticActionsCtrl">
                <h3 class="widget-header">Automatic Actions</h3>
                <div data-include-replace="partials/settingsAutoActions.html"></div>
            </div>
        </div>
    </div>
</div>
