<div id="changeUserSettings">
    <div id="change-password">
        <h4>Change Password</h4>
        <form role="form" novalidate data-ng-submit="changePassword(passwordFormData)">
            <fieldset data-ng-disabled="passwordFormData.isSaving || loadingCurrentUser">
                <div class="form-group" data-ng-class="{ 'has-error': passwordFormData.currentPassError }">
                    <input class="form-control" type="password" id="currentPass" placeholder="Current Password" data-ng-model="passwordFormData.currentPass">
                </div>
                <div class="form-group" data-ng-class="{ 'has-error': passwordFormData.newPassError }">
                    <input class="form-control" type="password" id="newPass" placeholder="New Password" data-ng-model="passwordFormData.newPass">
                </div>
                <div class="form-group" data-ng-class="{ 'has-error': passwordFormData.newPassError }">
                    <input class="form-control" type="password" id="verifyPass" placeholder="Verify Password" data-ng-model="passwordFormData.verifyPass">
                </div>
                <button id="changePassword" type="submit" class="btn btn-info">Update Password</button>
                <a class="btn btn-default" data-ng-click="passwordFormData.reset()">Reset</a>
            </fieldset>
        </form>
    </div>
    <div id="default-board">
        <h4>Select Default Board</h4>
        <form role="form">
            <fieldset data-ng-disabled="loadingBoards || loadingCurrentUser || updatingDefaultBoard || !boards.length">
                <div class="form-group">
                    <select class="form-control" id="defaultSelect" data-ng-model="currentUser.defaultBoard" data-ng-options="board.id as board.name for board in boardNames | filter:{ active: 1 }" data-ng-change="setDefaultBoard()">
                        <option value="">None</option>
                    </select>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="change-username">
        <h4>Change Username</h4>
        <form role="form" novalidate data-ng-submit="changeUsername(usernameFormData)">
            <fieldset data-ng-disabled="usernameFormData.isSaving || loadingCurrentUser">
                <div class="form-group" data-ng-class="{ 'has-error': usernameFormData.usernameError }">
                    <input class="form-control" placeholder="New Username" data-ng-model="usernameFormData.newUsername">
                </div>
                <button type="submit" class="btn btn-info">Update Username</button>
                <a class="btn btn-default" data-ng-click="usernameFormData.reset()">Reset</a>
            </fieldset>
        </form>
    </div>
</div>
