<phpunit>
    <filter>
        <blacklist>
            <directory>
                src/api/vendor
            </directory>
        </blacklist>
    </filter>
    <logging>
        <log type="coverage-html" target="api-coverage/"
            lowUpperBound="35" highLowerBound="75" />
    </logging>
</phpunit>

