<phpunit>
    <filter>
        <whitelist>
            <directory>src/api/controllers</directory>
            <directory>src/api/models</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="api-coverage/"
            lowUpperBound="40" highLowerBound="80" />
    </logging>
</phpunit>

