<section>
    <h2>Automatic Actions</h2>

    <div class="row">
        <h3>Current Actions</h3>

        <table class="alternating no-bottom-margin">
            <thead>
                <tr>
                    <th>Board</th>
                    <th>Trigger</th>
                    <th>Action</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody *ngIf="!loading">
                <tr *ngIf="autoActions.length === 0">
                    <td colspan="4" class="center"
                        [innerHTML]="noActionsMessage"></td>
                </tr>
                <tr *ngFor="let action of autoActions">
                    <td>{{ getBoardName(action.board_id) }}</td>
                    <td>{{ getTriggerDescription(action) }}</td>
                    <td>{{ getTypeDescription(action) }}</td>
                    <td>
                        <span *ngIf="activeUser && activeUser.security_level < 3">
                            <a href="javascript:"
                                title="Remove Automatic Action"
                                (click)="showConfirmModal(action)">
                                <i class="icon icon-trash-empty
                                    color-secondary"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="loading" class="center">
            <div class="spinner"></div>
        </div>
    </div>

    <div class="row" *ngIf="activeUser && activeUser.security_level < 3">
        <h3>Add Action</h3>

        <table>
            <thead>
                <tr class="borderless">
                    <th>Select Board:</th>
                    <th>Select Trigger:</th>
                    <th>Select Action:</th>
                </tr>
            </thead>
            <tbody>
                <tr class="borderless">
                    <td>
                        <select [(ngModel)]="newAction.board_id"
                            (change)="updateTriggerSources()">
                            <option [ngValue]="null">Select Board...</option>
                            <option *ngFor="let board of boards"
                                [ngValue]="board.id">
                                {{ board.name }}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select [disabled]="newAction.board_id === null"
                            [(ngModel)]="newAction.trigger"

                            (change)="updateTriggerSources()">
                            <option *ngFor="let trigger of triggers"
                                [ngValue]="trigger[0]">{{ trigger[1] }}</option>
                        </select>
                    </td>
                    <td>
                        <select [disabled]="newAction.board_id === null"
                            [(ngModel)]="newAction.type"
                            (change)="updateActionSources()">
                            <option *ngFor="let type of types"
                                [ngValue]="type[0]">{{ type[1] }}</option>
                        </select>
                    </td>
                </tr>
                <tr class="borderless">
                    <td></td>
                    <td>
                        <select [disabled]="newAction.board_id === null"
                            *ngIf="triggerSources.length"
                            [(ngModel)]="newAction.source_id"
                            (change)="checkAddDisabled()">
                            <option *ngFor="let source of triggerSources"
                                [ngValue]="source[0]">{{ source[1] }}</option>
                        </select>
                    </td>
                    <td>
                        <select [disabled]="newAction.board_id === null"
                            [(ngModel)]="newAction.change_to"
                            (change)="checkAddDisabled()"
                            *ngIf="newAction.type === 2 ||
                                   newAction.type === 3 ||
                                   newAction.type === 5 ||
                                   newAction.type === 6">
                            <option *ngFor="let source of actionSources"
                                [ngValue]="source[0]">{{ source[1] }}</option>
                        </select>
                        <input type="color" name="change-to-color"
                            [disabled]="newAction.board_id === null"
                            *ngIf="newAction.type == 1"
                            [(ngModel)]="newAction.change_to"
                            (change)="checkAddDisabled()">
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="right" [disabled]="isAddDisabled">
            <i class="icon icon-plus"></i>
            Add Action
        </button>
    </div>
</section>

<tb-modal modal-title="Confirm Automatic Action Removal" blocking="true"
    modal-id="{{ MODAL_CONFIRM_ID }}">

    <div class="center">
        Removing an automatic action cannot be undone.<br>Continue?
    </div>

    <div class="buttons">
        <button class="flat"
            (click)="removeAutoAction()"
            [disabled]="saving">Yes</button>
        <button #defaultAction
            (click)="modal.close(MODAL_CONFIRM_ID)"
            [disabled]="saving">No</button>
    </div>
</tb-modal>

