<section *ngIf="showActions">
    <h2>Automatic Actions</h2>

    <div class="row">
        <h3>Current Actions</h3>

        <table class="alternating no-bottom-margin">
            <thead>
                <tr>
                    <th>Board</th>
                    <th>Trigger</th>
                    <th>Action</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Example Board</td>
                    <td>Item assigned to user: admin</td>
                    <td>Set item color: #debee8</td>
                    <td>
                        <a href="#" title="Remove Automatic Action">
                            <i class="icon icon-trash-empty color-secondary"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Example Board</td>
                    <td>Item moved to column: Col3</td>
                    <td>Set item color: #debee8</td>
                    <td>
                        <a href="#" title="Remove Automatic Action">
                            <i class="icon icon-trash-empty color-secondary"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <h3>Add Action</h3>

        <table>
            <thead>
                <tr class="borderless">
                    <th>Select Board:</th>
                    <th>Select Trigger:</th>
                    <th>Select Action:</th>
                </tr>
            </thead>
            <tbody>
                <tr class="borderless">
                    <td>
                        <select>
                            <option>Select Board...</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>Item moves to column</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>Set item color</option>
                        </select>
                    </td>
                </tr>
                <tr class="borderless">
                    <td></td>
                    <td>
                        <select>
                            <option>Select Column</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>Select Color</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="right" disabled>
            <i class="icon icon-plus"></i>
            Add Action
        </button>
    </div>
</section>

