<h3>
    <span class="icon icon-minus-squared-alt"
        title="Collapse All Tasks"
        *ngIf="!collapseTasks"
        (click)="toggleTaskCollapse()"></span>
    <span class="icon icon-plus-squared-alt"
        title="Expand All Tasks"
        *ngIf="collapseTasks"
        (click)="toggleTaskCollapse()"></span>

    {{ columnData.name }}

    <span class="badge" title="Tasks in Column">
        {{ columnData.ownTask.length }}
    </span>

    <span class="icon icon-angle-double-up"
        title="Expand Column" (click)="toggleCollapsed()"></span>
    <span class="right icon icon-angle-double-down"
        title="Collapse Column" (click)="toggleCollapsed()"></span>
</h3>

<div class="quick-add">
    <input type="text" placeholder="Quick Add Task - Title Only">
    <button class="flat" (click)="showModal('Add')">
        <i class="icon icon-plus"></i>
    </button>
</div>

<div class="tasks">
    <tb-task *ngFor="let task of columnData.ownTask"
        class="task"
        [task]="task"></tb-task>
    <!--<div *ngFor="let task of columnData.ownTask"-->
    <!--    class="task" [ngClass]="{ 'compact': collapseTasks }"-->
    <!--    [style.backgroundColor]="task.color"-->
    <!--    [style.color]="getTextColor(task.color)">-->
    <!--</div>-->
</div>

<!--<tb-modal modal-title="Confirm Task Removal" blocking="true">-->
<!--    <div class="center">Removing a task cannot be undone.<br>Continue?</div>-->
<!--    <div class="buttons">-->
<!--        <button class="flat"-->
<!--            (click)="removeUser()">Yes</button>-->
<!--        <button #defaultAction-->
<!--            (click)="modal.close(MODAL_CONFIRM_ID)">No</button>-->
<!--    </div>-->
<!--</tb-modal>-->

<tb-modal  *ngIf="activeBoard" modal-title="Add Task"
    modal-id="{{ MODAL_ID + columnData.id }}">
    <label>
        Title
        <input type="text" name="title" placeholder="Task Title"
            [(ngModel)]="modalProps.title">
    </label>

    <label>
        Description
        <textarea name="description" rows="5"
            placeholder="What needs to get done?"
            [(ngModel)]="modalProps.description"></textarea>
    </label>

    <label>
        Assignees
        <select name="assignees" multiple [(ngModel)]="modalProps.assignees">
            <option *ngFor="let user of activeBoard.users"
                [ngValue]="user">{{ user.username }}</option>
        </select>
    </label>

    <label>
        Categories
        <select name="categories" multiple [(ngModel)]="modalProps.categories">
            <option *ngFor="let category of activeBoard.categories"
                [ngValue]="category">{{ category.name }}</option>
        </select>
    </label>

    <div class="half">
        <label>
            Column
            <select name="column" [(ngModel)]="modalProps.column_id">
                <option *ngFor="let column of activeBoard.columns"
                    [ngValue]="column.id">{{ column.name }}</option>
            </select>
        </label>

        <label>
            Color
            <input type="color" [(ngModel)]="modalProps.color">
        </label>
    </div>

    <div class="half">
        <label>
            Date Due
            <input type="date" [(ngModel)]="modalProps.due_date">
        </label>

        <label>
            Points
            <input type="number" [(ngModel)]="modalProps.points">
        </label>
    </div>

    <div class="buttons">
        <button #defaultAction
            (click)="addTask()" [disabled]="saving">
            <i class="icon icon-plus"></i>
            Add Task
        </button>
        <button class="flat" (click)="modal.close(MODAL_ID + columnData.id)">
            Cancel
        </button>
    </div>
</tb-modal>

