<h3>
    <span class="icon icon-minus-squared-alt"
        title="Collapse All Tasks"
        *ngIf="!collapseTasks"
        (click)="toggleTaskCollapse()"></span>
    <span class="icon icon-plus-squared-alt"
        title="Expand All Tasks"
        *ngIf="collapseTasks"
        (click)="toggleTaskCollapse()"></span>

    {{ columnData.name }}

    <span class="badge" title="Tasks in Column">
        {{ tasks.length }}
    </span>

    <span class="icon icon-angle-double-up"
        title="Expand Column" (click)="toggleCollapsed()"></span>
    <span class="right icon icon-angle-double-down"
        title="Collapse Column" (click)="toggleCollapsed()"></span>
</h3>

<div class="quick-add">
    <input type="text" placeholder="Quick Add Task - Title Only">
    <button class="flat" (click)="showModal('Add')">
        <i class="icon icon-plus"></i>
    </button>
</div>

<div class="tasks">
    <div class="task" [ngClass]="{ 'compact': collapseTasks }">
        <h4>
            <span class="icon icon-minus-squared-alt" title="Collapse Task"></span>
            Column Data
            <span class="badge right" title="Points">0</span>
        </h4>
        <div class="description">
            <pre style="margin: 0">{{ columnData | json }}</pre>
            <p>Vertical scroll test<br><br><br><br><br></p>
        </div>
        <div class="stats">
            Assigned To: admin
            <span class="right">
                <span class="icon icon-chat-empty" title="4 Comments"></span>
                <span class="icon icon-attach" title="2 Attachments"></span>
                <span class="category" title="Category">Front End</span>
            </span>
        </div>
    </div>
    <div class="task" [ngClass]="{ 'compact': collapseTasks }">
        <h4>
            <span class="icon icon-minus-squared-alt" title="Collapse Task"></span>
            Something to Get Done
            <span class="badge right" title="Points">3</span>
        </h4>
        <div class="description">
            <p>This is the thing that needs to get done.</p>
        </div>
        <div class="stats">
            Assigned To: admin
            <span class="right">
                <span class="icon icon-chat-empty" title="4 Comments"></span>
                <span class="icon icon-attach" title="2 Attachments"></span>
                <span class="category" title="Category"></span>
            </span>
        </div>
    </div>
</div>

<!-- TODO Move to Task HTML once created -->
<!--<tb-modal modal-title="Confirm Task Removal" blocking="true">-->
<!--    <div class="center">Removing a task cannot be undone.<br>Continue?</div>-->
<!--    <div class="buttons">-->
<!--        <button class="flat"-->
<!--            (click)="removeUser()">Yes</button>-->
<!--        <button #defaultAction-->
<!--            (click)="modal.close(MODAL_CONFIRM_ID)">No</button>-->
<!--    </div>-->
<!--</tb-modal>-->

<tb-modal modal-title="Add Task" modal-id="{{ MODAL_ID }}">
    <label>
        Title
        <input type="text" name="title" placeholder="Task Title"
            [(ngModel)]="modalProps.title">
    </label>

    <label>
        Description
        <textarea name="description" rows="5"
            placeholder="What needs to get done?"
            [(ngModel)]="modalProps.description"></textarea>
    </label>

    <label *ngIf="activeBoard">
        Assignees
        <select name="assignees" multiple [(ngModel)]="modalProps.assignees">
            <option *ngFor="let user of activeBoard.users"
                [ngValue]="user">{{ user.username }}</option>
        </select>
    </label>

    <pre>{{ modalProps | json }}</pre>
    <div class="buttons">
        <button #defaultAction
            (click)="addEditTask()" [disabled]="saving">
            <i class="icon"
                [ngClass]="{ 'icon-plus': modalProps.prefix === '',
                    'icon-floppy': modalProps.prefix !== '' }"></i>
            {{ modalProps.prefix === '' ? 'Add' : 'Save' }}
            Task
        </button>
        <button class="flat" (click)="modal.close(MODAL_ID)">
            Cancel
        </button>
    </div>
</tb-modal>

