<section>
    <h2>Board Administration</h2>

    <div class="row">
        <h3>Current Boards</h3>

        <div class="small right filters">
            <label class="inline right">
                Show By User:
                <select class="autosize">
                    <option>Any User</option>
                    <option>admin</option>
                </select>
            </label>
            <label class="inline right">
                Filter By:
                <select class="autosize">
                    <option>All Boards</option>
                    <option>Active</option>
                    <option>Inactive</option>
                </select>
            </label>
            <label class="inline right">
                Sort By:
                <select class="autosize">
                    <option>Board Name</option>
                    <option>Creation Date</option>
                </select>
            </label>
        </div>

        <table class="alternating">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Columns</th>
                    <th>Categories</th>
                    <th>Users</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="!loading">
                <tr *ngIf="boards.length === 0">
                    <td colspan="5" class="center"
                        [innerHTML]="noBoardsMessage"></td>
                </tr>
                <tr *ngFor="let board of boards">
                    <td><a href="boards/{{ board.id }}">{{ board.name }}</a></td>
                    <td>
                        <ul>
                            <li *ngFor="let col of board.columns">
                                {{ col.name }}
                                <span class="badge" title="Item Count">{{ col.tasks.length }}</span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul *ngIf="board.categories.length">
                            <li *ngFor="let cat of board.categories">
                                {{ cat.name }}
                                <span class="badge" title="Default Task Color"
                                    style="background-color:{{ cat.default_task_color }}">
                                    &nbsp;
                                </span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li *ngFor="let user of board.users">
                                {{ user.username }}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <a href="" title="Edit Board"><i class="icon icon-edit color-primary"></i></a>
                        <a href="" title="Remove Board"><i class="icon icon-trash-empty color-secondary"></i></a>
                        <label><input type="checkbox" checked> Active</label>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="loading" class="center">
            <div class="spinner"></div>
        </div>

        <button *ngIf="activeUser.security_level === 1"
            (click)="showModal('Add')">
            <i class="icon icon-plus"></i> Add Board
        </button>
    </div>
</section>

<tb-modal modal-title="{{ modalProps.title }} Board"
    modal-id="{{ MODAL_ID }}" wide="true">
    <label>
        Board Name
        <input type="text" name="board-name" placeholder="Board Name"
            [(ngModel)]="modalProps.boardName">
    </label>

    <div class="half-modal">
        <label>Columns</label>
        <ul class="modal-list" [hidden]="!modalProps.columns.length"
            [dragula]="'columns-bag'" [dragulaModel]="modalProps.columns">
            <li *ngFor="let column of modalProps.columns">
                <i class="icon icon-resize-vertical"></i>
                {{ column.name }}
                <span class="actions">
                    <i class="icon icon-edit color-primary"></i>
                    <i class="icon icon-trash-empty color-secondary"
                        (click)="modalProps.removeColumn(column)"></i>
                </span>
            </li>
        </ul>
        <div class="quick-add">
            <form>
                <input type="text" name="new-column"
                    placeholder="Column Name"
                    [(ngModel)]="modalProps.newColumnName">
                <button type="submit" class="flat" title="Add Column"
                    (click)="modalProps.addColumn()">
                    <i class="icon icon-plus"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="half-modal">
        <label>Categories</label>
        <ul *ngIf="modalProps.categories.length" class="modal-list">
            <li *ngFor="let category of modalProps.categories">
                {{ category.name }}
                <span class="actions">
                    <span class="badge" title="Default Task Color"
                        [style.background-color]="getColor(category)"></span>
                    <i class="icon icon-edit color-primary"></i>
                    <i class="icon icon-trash-empty color-secondary"
                        (click)="modalProps.removeCategory(category)"></i>
                </span>
            </li>
        </ul>
        <div class="quick-add categories">
            <form>
                <input type="text" name="new-category"
                    placeholder="Category Name"
                    [(ngModel)]="modalProps.newCategoryName">
                <input type="color" name="category-default-color"
                    title="Default Task Color"
                    [(ngModel)]="modalProps.categoryDefaultColor">
                <button type="submit" class="flat" title="Add Category"
                     (click)="modalProps.addCategory()">
                    <i class="icon icon-plus"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="issue-trackers">
        <label>
            Issue Trackers
            <i class="icon icon-help-circled"
                alt="Example URL: https://github.com/kiswa/TaskBoard/issues/%BUGID\1%
                       Example RegExp: (?:Issue)?#(\d+)"></i>
        </label>
        <ul *ngIf="modalProps.issueTrackers.length" class="modal-list">
            <li *ngFor="let tracker of modalProps.issueTrackers">
                {{ tracker.url }} | {{ tracker.bugId }}
                <span class="actions">
                    <i class="icon icon-edit color-primary"></i>
                    <i class="icon icon-trash-empty color-secondary"
                        (click)="modalProps.removeIssueTracker(tracker)"></i>
                </span>
            </li>
        </ul>
        <div>
            <form>
                <input type="text" name="issue-tracker"
                    placeholder="Issue Tracker URL - use %BUGID% as placeholder"
                    [(ngModel)]="modalProps.issueTrackerUrl">
                <input type="text" name="issue-tracker-bug-id"
                    placeholder="BUGID RegExp"
                    [(ngModel)]="modalProps.issueTrackerBugId">
                <button type="submit" class="flat" title="Add Issue Tracker"
                    (click)="modalProps.addIssueTracker()">
                    <i class="icon icon-plus"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="users">
        <label>Select Users</label>
        <div class="clearfix"></div>
        <div class="user-select" *ngFor="let user of users">
            <label>
                <input type="checkbox">
                {{ user.username }}
                <span *ngIf="user.security_level === 2">*</span>
            </label>
        </div>
        <p>
            <span *ngIf="hasBAUsers"><strong>*</strong> Including a Board Admin, makes
            them an admin of this board.<br></span>
            <em>Administrators have access to all boards and are
            not listed here.</em>
        </p>
    </div>

    <div class="buttons">
        <button (click)="addBoard()">
            <i class="icon icon-plus"></i>
            Add Board
        </button>
        <button class="flat" (click)="modal.close(MODAL_ID)">
            Cancel
        </button>
    </div>
</tb-modal>

