<section>
    <h2>User Administration</h2>

    <div class="row">
        <table class="alternating">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Security Level</th>
                    <th>Default Board</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="!loading">
                <tr *ngFor="let user of users">
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.security_level_name }}</td>
                    <td>{{ user.default_board_name }}</td>
                    <td>
                        <span *ngIf="user.can_admin">
                            <a href="javascript:" title="Edit User"
                                (click)="showModal('Edit', user)">
                                <i class="icon icon-edit color-primary"></i>
                            </a>
                            <a href="javascript:" title="Remove User"
                                (click)="showConfirmModal(user)">
                                <i class="icon icon-trash-empty color-secondary"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="loading" class="center">
            <div class="spinner"></div>
        </div>

        <button *ngIf="activeUser.security_level < 3"
            (click)="showModal('Add')">
            <i class="icon icon-plus"></i> Add User
        </button>
    </div>
</section>

<tb-modal modal-title="Confirm User Removal" blocking="true"
    modal-id="{{ MODAL_CONFIRM_ID }}">
    <div class="center">Removing a user cannot be undone.<br>Continue?</div>
    <div class="buttons">
        <button class="flat" (click)="removeUser()">Yes</button>
        <button (click)="modal.close(MODAL_CONFIRM_ID)">No</button>
    </div>
</tb-modal>

<tb-modal modal-title="{{ modalProps.title }} User" modal-id="{{ MODAL_ID }}">
    <label>
        {{ modalProps.prefix }} Username
        <input type="text" name="new-username" placeholder="Username" autofocus
            [(ngModel)]="modalProps.user.username">
    </label>

    <label>
        {{ modalProps.prefix }} Password
        <input type="password" name="new-password" placeholder="Password"
            [(ngModel)]="modalProps.user.password">
    </label>
    <input type="password" name="new-password-verify"
        placeholder="Verify Password"
        [(ngModel)]="modalProps.user.verifyPassword">

    <label>
        {{ modalProps.prefix }} Email
        <input type="text" name="new-email"
            placeholder="New Email - Blank to disable"
            [(ngModel)]="modalProps.user.email">
    </label>

    <div *ngIf="boards.length">
        <label>
            Default Board
            <i alt="Selecting a default board adds the user to that board."
                class="icon icon-help-circled"></i>
            <select [(ngModel)]="modalProps.user.default_board_id">
                <option value="0">None</option>
                <option *ngFor="let board of boards" value="{{ board.id }}">
                    {{ board.name }}
                </option>
            </select>
        </label>

        <label>
            Board Access
            <select multiple [(ngModel)]="modalProps.user.boardAccess">
                <option *ngFor="let board of boards" value="{{ board.id }}">
                    {{ board.name }}
                </option>
            </select>
        </label>
    </div>

    <label>
        Security Level
        <select name="new-security"
            [(ngModel)]="modalProps.user.security_level">
            <option value="3">User</option>
            <option value="2">Board Admin</option>
            <option value="1">Admin</option>
        </select>
    </label>

    <div class="buttons">
        <button (click)="addEditUser()">
            <i class="icon"
                [ngClass]="{ 'icon-plus': modalProps.prefix === '', 'icon-floppy': modalProps.prefix !== '' }"></i>
            {{ modalProps.prefix === '' ? 'Add' : 'Save' }}
            User
        </button>
        <button class="flat" (click)="modal.close(MODAL_ID)">
            Cancel
        </button>
    </div>
</tb-modal>

