<section>
    <h2>User Administration</h2>

    <div class="row">
        <table class="alternating">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Security Level</th>
                    <th>Default Board</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="!loading">
                <tr *ngFor="let user of users">
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.security_level_name }}</td>
                    <td>{{ user.default_board_name }}</td>
                    <td>
                        <span *ngIf="user.can_admin">
                            <a href="javascript:" title="Edit User"
                                (click)="editUser(user)">
                                <i class="icon icon-edit color-primary"></i>
                            </a>
                            <a href="javascript:" title="Remove User"
                                (click)="removeUser(user)">
                                <i class="icon icon-trash-empty color-secondary"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="loading" class="center">
            <div class="spinner"></div>
        </div>

        <button (click)="addUser()">
            <i class="icon icon-plus"></i> Add User
        </button>
    </div>
</section>

<tb-modal modal-title="Add User"
    [is-open]="isModalOpen" (onClose)="modalClosed()">
    <label>
        Username
        <input type="text" name="new-username" placeholder="Username" autofocus
            [(ngModel)]="newUser.username">
    </label>

    <label>
        Password
        <input type="password" name="new-password" placeholder="Password"
            [(ngModel)]="newUser.password">
    </label>
    <input type="password" name="new-password-verify"
        placeholder="Verify Password"
        [(ngModel)]="newUser.verifyPassword">

    <label>
        Email
        <input type="text" name="new-email" placeholder="email"
            [(ngModel)]="newUser.email">
    </label>

    <label>
        Default Board <i class="icon icon-help-circled"></i>
        <select>
            <option>TODO</option>
        </select>
    </label>

    <label>
        Board Access
        <select multiple>
            <option>TODO</option>
        </select>
    </label>

    <label>
        Security Level
        <select name="new-security"
            [(ngModel)]="newUser.security_level">
            <option value="3">User</option>
            <option value="2">Board Admin</option>
            <option value="1">Admin</option>
        </select>
    </label>

    <div class="buttons">
        <button><i class="icon icon-plus"></i> Add User</button>
        <button class="flat" (click)="isModalOpen = false">Cancel</button>
    </div>
</tb-modal>

