<div class="modal-container" [ngClass]="{ 'modal-open': isOpen }">
    <div class="modal-overlay"
        [ngClass]="{ animated: animate, 'modal-closed': !isOpen }"
        (click)="close(true)"></div>

    <div class="modal"
        [ngClass]="{ wide: wide, animated: animate, 'modal-closed': !isOpen }">
        <div class="title" *ngIf="modalTitle">
            <h2>
                {{ modalTitle }}
                <span class="right" (click)="close()">
                    <i class="icon icon-cancel"></i>
                </span>
            </h2>
        </div>

        <div class="body">
            <ng-content></ng-content>
        </div>
    </div>
</div>

