<section>
    <h2>User Settings</h2>

    <div class="half">
        <h3>Change Password</h3>

        <form>
            <label for="currentPassword" class="hidden">Current Password</label>
            <input type="password" id="currentPassword" name="currentPassword"
                placeholder="Current Password"
                [(ngModel)]="changePassword.current">

            <label for="newPassword" class="hidden">New Password</label>
            <input type="password" id="newPassword" name="newPassword"
                placeholder="New Password"
                [(ngModel)]="changePassword.newPass">

            <label for="verifyPassword" class="hidden">Verify Password</label>
            <input type="password" id="verifyPassword" name="verifyPassword"
                placeholder="Verify New Password"
                [(ngModel)]="changePassword.verPass">

            <button type="submit" [disabled]="changePassword.submitted"
                (click)="updatePassword()">Change Password</button>
            <button class="flat" [disabled] = "changePassword.submitted"
                (click)="resetPasswordForm()">Reset</button>
        </form>

        <h3 class="tall">All Boards Options</h3>
        <label>
            Select default board:
            <select class="autosize">
                <option>None</option>
            </select>
        </label>
        <label>
            New tasks appear at column
            <select class="autosize">
                <option>bottom</option>
                <option>top</option>
            </select>
        </label>
        <label>
            Display tasks side-by-side in colums?
            <input type="checkbox">
        </label>
    </div>

    <div class="half">
        <h3>Change Username</h3>

        <form>
            <label for="username" class="hidden">New Username</label>
            <input type="text" id="username" name="username"
                placeholder="New Username"
                [(ngModel)]="changeUsername.newName">

            <button type="submit" [disabled]="changeUsername.submitted"
                (click)="updateUsername()">Change Username</button>
            <button class="flat" [disabled]="changeUsername.submitted"
                (click)="resetUsernameForm()">Reset</button>
        </form>

        <form>
            <h3 class="tall">Change Email</h3>

            <label for="email" class="hidden">New Email</label>
            <input type="text" id="email" name="email"
                placeholder="New Email - Blank to disable"
                [(ngModel)]="changeEmail.newEmail">

            <button type="submit" [disabled]="changeEmail.submitted"
                (click)="updateEmail()">Change Email</button>
            <button class="flat" [disabled]="changeEmail.submitted"
                (click)="resetEmailForm()">Reset</button>
        </form>

        <div class="hold-bottom">
            <label>
                Show animations?
                <input type="checkbox" checked>
            </label>
            <label>
                Show Assignee on task cards?
                <input type="checkbox" checked>
            </label>
        </div>
    </div>
</section>

