<tb-top-nav page-name="{{ pageName }}"></tb-top-nav>

<div class="board-nav">
    <label *ngIf="boards && boards.length">
        {{ strings['boards_selectBoard'] }}:
        <select [(ngModel)]="boardNavId"
            (change)="goToBoard()">
            <option [ngValue]="null">
                {{ strings['boards_selectBoard'] }}...
            </option>
            <option *ngFor="let board of boards"
                [ngValue]="board.id">
                {{ board.name }}
            </option>
        </select>
    </label>
    <div class="right" *ngIf="activeBoard">
        <label>
            {{ strings['boards_hideFiltered'] }}:
            <input type="checkbox">
        </label>
        <label>
            {{ strings['boards_userFilter'] }}:
            <select [(ngModel)]="userFilter">
                <option [ngValue]="null">Any</option>
                <option *ngFor="let user of activeBoard.users"
                    [ngValue]="user.id">
                    {{ user.username }}
                </option>
            </select>
        </label>
        <label>
            {{ strings['boards_categoryFilter'] }}:
            <select [(ngModel)]="categoryFilter">
                <option [ngValue]="null">Any</option>
                <option *ngFor="let category of activeBoard.categories"
                    [ngValue]="category.id">
                    {{ category.name }}
                </option>
            </select>
        </label>
    </div>
</div>

<div class="no-boards center" *ngIf="noBoards()">
    <h1>{{ strings['boards_noBoards'] }}</h1>

    <p>{{ noBoardsMessage }}</p>
</div>

<div class="no-boards center"
    *ngIf="!loading && !activeBoard && !noBoards() && !activeUser.default_board_id">
    <h1>{{ strings['boards_noDefault'] }}</h1>

    <p>{{ strings['boards_noDefaultMessage'] }}
        <a href="javascript:" [routerLink]="['/settings']">
            {{ strings['settings'] }}
        </a>.
    </p>
    <p></p>
</div>

<div class="board" *ngIf="activeBoard">
    <tb-column class="column"
        *ngFor="let column of activeBoard.columns"
        [column]="column"
        [boards]="boards"
        (on-update-boards)="updateBoards()"></tb-column>
</div>

