<tb-top-nav page-name="{{ pageName }}"></tb-top-nav>

<div class="board-nav">
    <label *ngIf="boards && boards.length">
        Select Board:
        <select [(ngModel)]="boardNavId"
            (change)="goToBoard()">
            <option [ngValue]="null">Select Board...</option>
            <option *ngFor="let board of boards"
                [ngValue]="board.id">
                {{ board.name }}
            </option>
        </select>
    </label>
    <div class="right" *ngIf="activeBoard">
        <label>
            Hide Filtered Items:
            <input type="checkbox">
        </label>
        <label>
            User Filter:
            <select [(ngModel)]="userFilter">
                <option [ngValue]="null">Any</option>
                <option *ngFor="let user of activeBoard.users"
                    [ngValue]="user.id">
                    {{ user.username }}
                </option>
            </select>
        </label>
        <label>
            Category Filter:
            <select [(ngModel)]="categoryFilter">
                <option [ngValue]="null">Any</option>
                <option *ngFor="let category of activeBoard.categories"
                    [ngValue]="category.id">
                    {{ category.name }}
                </option>
            </select>
        </label>
    </div>
</div>

<div class="no-boards center" *ngIf="noBoards()">
    <h1>No Boards</h1>

    <p>{{ noBoardsMessage }}</p>
</div>

<div class="no-boards center"
    *ngIf="!loading && !activeBoard && !noBoards() && !activeUser.default_board_id">
    <h1>No Default Board</h1>

    <p>
        You have not selected a default board. You may select a
        default board in your <a href="javascript:" [routerLink]="['/settings']">Settings</a>.
    </p>
    <p>Until then, select a board from the list above.</p>
</div>

<div class="board" *ngIf="activeBoard">
    <tb-column class="column"
        *ngFor="let column of activeBoard.columns"
        [column]="column"></tb-column>
</div>

<tb-modal modal-title="Add Task" modal-id="{{ MODAL_ID }}">
    <label>
        Title
        <input type="text" name="title" placeholder="Task Title"
            [(ngModel)]="modalProps.title">
    </label>

    <label>
        Description
        <textarea name="description" rows="5"
            placeholder="What needs to get done?"
            [(ngModel)]="modalProps.description"></textarea>
    </label>

    <label *ngIf="activeBoard">
        Assignees
        <select name="assignees" multiple [(ngModel)]="modalProps.assignees">
            <option *ngFor="let user of activeBoard.users"
                [ngValue]="user">{{ user.username }}</option>
        </select>
    </label>

    <pre>{{ modalProps | json }}</pre>
    <div class="buttons">
        <button #defaultAction
            (click)="addEditTask()" [disabled]="saving">
            <i class="icon"
                [ngClass]="{ 'icon-plus': modalProps.prefix === '',
                    'icon-floppy': modalProps.prefix !== '' }"></i>
            {{ modalProps.prefix === '' ? 'Add' : 'Save' }}
            Task
        </button>
        <button class="flat" (click)="modal.close(MODAL_ID)">
            Cancel
        </button>
    </div>
</tb-modal>

