<tb-top-nav page-name="{{ pageName }}"></tb-top-nav>

<div class="board-nav">
    <label>
        Select Board:
        <select [(ngModel)]="boardNavId"
            (change)="goToBoard()">
            <option [ngValue]="null">Select Board...</option>
            <option *ngFor="let board of boards"
                [ngValue]="board.id">
                {{ board.name }}
            </option>
        </select>
    </label>
    <div class="right" *ngIf="activeBoard">
        <label>
            Hide Filtered Items:
            <input type="checkbox">
        </label>
        <label>
            User Filter:
            <select [(ngModel)]="userFilter">
                <option [ngValue]="null">Any</option>
                <option *ngFor="let user of activeBoard.users"
                    [ngValue]="user.id">
                    {{ user.username }}
                </option>
            </select>
        </label>
        <label>
            Category Filter:
            <select [(ngModel)]="categoryFilter">
                <option [ngValue]="null">Any</option>
                <option *ngFor="let category of activeBoard.categories"
                    [ngValue]="category.id">
                    {{ category.name }}
                </option>
            </select>
        </label>
    </div>
</div>

<div class="no-boards center" *ngIf="!loading && (!boards || boards.length === 0)">
    <h1>No Boards</h1>

    <p>{{ noBoardsMessage }}</p>
</div>

<div class="no-boards center"
    *ngIf="!activeBoard && !activeUser.default_board_id">
    <h1>No Default Board</h1>

    <p>
        You have not selected a default board. You may select a
        default board in your <a href="javascript:" [routerLink]="['/settings']">Settings</a>.
    </p>
    <p>Until then, select a board from the list above.</p>
</div>

<div class="board" *ngIf="activeBoard">
    <tb-column class="column"
        *ngFor="let column of activeBoard.columns"
        [column]="column"></tb-column>
</div>

