.board-nav {
    margin: 5px;
    width: 99%;

    label {
        display: inline-block;

        select {
            width: auto;
        }
    }
}

.no-boards {
    @include shadow-low;

    background-color: $white;
    margin: 1em auto;
    padding: 1em;
    padding-bottom: .1em;
    width: 45%;
}

.board {
    display: flex;
    height: calc(100% - 96px);
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;

    .icon-minus-squared-alt,
    .icon-plus-squared-alt {
        cursor: pointer;
        margin-right: 5px;
    }

    .column {
        @include shadow-low();
        @include clearfix();

        background-color: #fff;
        flex: 1 0 300px;
        height: calc(100% - 7px);
        margin-left: 7px;
        overflow: auto;
        position: relative;
        white-space: normal;

        h3 {
            background-color: $color-heading-bg;
            border-bottom: 1px solid lighten($color-border, 18%);
            font-size: 24px;
            padding: 5px;

            span {
                cursor: pointer;
            }

            .icon-angle-double-up,
            .badge {
                display: none;
            }
        }

        .quick-add {
            padding: 6px;
            padding-right: 5px;
        }

        &:last-of-type {
            margin-right: 7px;
        }

        &.collapsed {
            background-color: $color-heading-bg;
            flex: 0 0 35px;
            overflow: hidden;

            h3 {
                border: 0;
                transform: rotate(90deg)
                    translateX(-35px)
                    translateY(5px);
                transform-origin: left bottom;
                white-space: nowrap;
            }

            .badge {
                display: inline-block;
                font-size: .6em;
                margin-left: .9em;
                transform: rotate(-90deg) translateX(4px);
            }

            .icon-angle-double-down,
            .icon-minus-squared-alt,
            .icon-plus-squared-alt,
            .tasks,
            .quick-add {
                display: none;
            }

            .icon-angle-double-up {
                display: inline-block;
            }
        }
    }

    .tasks {
        bottom: 0;
        left: 0;
        overflow-y: auto;
        padding: 7px;
        padding-top: 0;
        position: absolute;
        right: 0;
        top: 5.2em;

        div:last-of-type {
            margin-bottom: 0;
        }
    }

    .task {
        @include shadow-low();

        background-color: #ffffe0;
        margin-bottom: 7px;

        h4 {
            border-bottom: 1px solid lighten($color-border, 25%);
            cursor: move;
            font-size: 18px;
            line-height: 1.5em;
            padding: 0 5px 2px;

            .badge {
                font-size: .5em;
                margin-right: -2px;
                margin-top: 2px;
            }
        }

        .description {
            max-height: 12em;
            overflow: auto;
            padding: 5px;

            p {
                margin: 0 0 10px;
            }

            p:last-of-type {
                margin: 0;
            }
        }

        .stats {
            font-size: .9em;
            padding: 0 5px;
        }

        .category {
            font-weight: 700;
        }

        &.compact {
            .description {
                display: none;
            }
        }
    }
}

