.collapsed {
  .context-menu-container {
    display: none;
  }
}

.context-menu-container {
  @include shadow-high;

  background-color: $white;
  border-radius: 3px;
  color: $color-text;
  padding: 5px 0;
  position: fixed;
  width: 200px;
  z-index: 100;
}

