html {
    background-color: $color-background;
    background-image: url('../images/bg.png');
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway;
    font-weight: 500;
    margin: 0;
}

a {
    background-position: left 1.05em;
}

.loading {
    padding-top: 2em;
    text-align: center;
}

.small {
    font-size: .8em;
}

table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

button {
    transition: background .3s;
}

