.modal-overlay {
    background-color: rgba(0, 0, 0, .4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.modal {
    @include shadow-float();

    background-color: $white;
    left: calc(50vw - 200px);
    max-height: calc(100vh - 10em);
    min-height: 10em;
    overflow-y: auto;
    position: fixed;
    top: 5em;
    width: 400px;
    z-index: 1100;

    .title {
        background-color: $color-heading-bg;

        .right {
            color: $color-text;
            cursor: pointer;
        }

        .right:hover {
            color: lighten($color-text, 10%);
        }
    }

    .title,
    .body {
        padding: .75em;
    }

    input,
    select {
        height: auto;
        margin-bottom: 7px;
    }

    .buttons {
        float: right;
        margin: 1em;
        margin-right: 0;

        .flat {
            background-color: $white;
            color: $color-text;
            line-height: 1.1em;
        }
    }
}

