$color-background: #e6e6e6;
$color-primary: #1d7faf;
$color-text: #24343a;
$color-text-button: #fff;

$font-url: 'https://fonts.googleapis.com/css?family=Raleway:400,500|Fira+Mono';
$font-name: 'Raleway';
$font-name-mono: 'Fira Mono';

