.settings {
    @include clearfix();

    margin: 7px 1em;

    .activity-log {
        margin: 7px;
        margin-right: 0;

        button {
            float: right;
            font-size: .9em;
            padding: 3px 5px;
        }
    }

    .half-page {
        @include span-columns(9 of 18);
    }

    .half-modal {
        float: left;
        margin-right: 1%;
        width: 49%;

        &:last-of-type {
            margin: 0;
        }
    }

    .no-bottom-margin {
        margin-bottom: 0;
    }

    .borderless {
        border: 0;
    }

    .alternating {
        td:last-child {
            a {
                background-image: none;
            }
        }
    }

    section {
        ul {
            border: 1px solid lighten($color-border, 10%);
            border-radius: 4px;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                @include clearfix();

                border-bottom: 1px solid lighten($color-border, 10%);
                line-height: 2em;
                padding-left: 5px;
            }

            li:last-of-type {
                border-bottom: 0;
            }

            .badge {
                float: right;
                margin-top: 4px;
            }
        }

        label {
            display: block;
            line-height: 2em;

            &.inline {
                display: inline-block;
                margin-right: 1em;
            }

            &.hidden {
                display: none;
            }
        }

        .filters {
            margin-top: -2.5em;
            max-width: 75%;
        }

        .hold-bottom {
            bottom: 7px;
            position: absolute;
        }

        .autosize {
            margin-bottom: .5em;
            width: auto;
        }

        .tall {
            margin-top: 2.5em;
        }

        .half {
            @include span-columns(4.5 of 9);
            padding: 7px;

            input,
            button {
                margin-top: 7px;
            }
        }

        .flat {
            background-color: lighten($color-background, 10%);
            color: $color-primary;
        }
    }
}

