<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^taskboard.db$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}::{R:1}" pattern="^(.*?/)(.*)::\2$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="/api/api.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/api/api.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
	
    </system.webServer>
</configuration>
