<section>
    <h2>Board Administration</h2>

    <div class="row">
        <h3>Current Boards</h3>

        <div class="small right filters">
            <label class="inline right">
                Show By User:
                <select class="autosize">
                    <option>Any User</option>
                    <option>admin</option>
                </select>
            </label>
            <label class="inline right">
                Filter By:
                <select class="autosize">
                    <option>All Boards</option>
                    <option>Active</option>
                    <option>Inactive</option>
                </select>
            </label>
            <label class="inline right">
                Sort By:
                <select class="autosize">
                    <option>Board Name</option>
                    <option>Creation Date</option>
                </select>
            </label>
        </div>

        <table class="alternating">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Columns</th>
                    <th>Categories</th>
                    <th>Users</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="boards/1">Example Board</a></td>
                    <td>
                        <ul>
                            <li>Col1<span class="badge" title="Item Count">3</span></li>
                            <li>Col2<span class="badge" title="Item Count">0</span></li>
                            <li>Col3<span class="badge" title="Item Count">5</span></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Cat1<span class="badge" title="Default Task Color" style="background-color:#debee8">&nbsp;</span></li>
                            <li>Cat2<span class="badge" title="Default Task Color" style="background-color:#bee7f4">&nbsp;</span></li>
                            <li>Cat3<span class="badge" title="Default Task Color" style="background-color:#ffffe0">&nbsp;</span></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>admin</li>
                            <li>other_guy</li>
                        </ul>
                    </td>
                    <td>
                        <a href=""><i class="icon icon-edit"></i></a>
                        <a href=""><i class="icon icon-trash-empty"></i></a>
                        <label><input type="checkbox" checked> Active</label>
                    </td>
                </tr>
                <tr>
                    <td><a href="boards/2">Other Board</a></td>
                    <td>
                        <ul>
                            <li>One<span class="badge">0</span></li>
                        </ul>
                    </td>
                    <td></td>
                    <td>
                        <ul>
                            <li>admin</li>
                        </ul>
                    </td>
                    <td>
                        <a href=""><i class="icon icon-edit"></i></a>
                        <a href=""><i class="icon icon-trash-empty"></i></a>
                        <label><input type="checkbox" checked> Active</label>
                    </td>
                </tr>
            </tbody>
        </table>

        <button *ngIf="activeUser.security_level === 1"
            (click)="showModal('Add')">
            <i class="icon icon-plus"></i> Add Board
        </button>
    </div>
</section>

<tb-modal modal-title="{{ modalProps.title }} Board"
    modal-id="{{ MODAL_ID }}" wide="true">
    <label>
        Board Name
        <input type="text" name="board-name" placeholder="Board Name"
            [(ngModel)]="modalProps.boardName">
    </label>
    <div class="half-modal">
        <label>Columns</label>
        <p>TODO: Display existing columns</p>
        <div class="quick-add">
            <input type="text" name="new-column"
                placeholder="Column Name" [(ngModel)]="modalProps.newColumnName">
            <button class="flat" (click)="addColumn()">
                <i class="icon icon-plus"></i>
            </button>
        </div>
    </div>
    <div class="half-modal">
        <label>Categories</label>
        <p>TODO: List existing categories</p>
        <div class="quick-add">
            <input type="text" name="new-category" placeholder="Category Name"
                [(ngModel)]="modalProps.newCategoryName">
            <button class="flat" (click)="addCategory()">
                <i class="icon icon-plus"></i>
            </button>
        </div>
    </div>
</tb-modal>

