<tb-top-nav page-name="Settings"></tb-top-nav>

<div class="settings">
    <div class="half-page">
        <tb-user-settings></tb-user-settings>

        <section>
            <h2>User Administration</h2>

            <div class="row">
                <table class="alternating">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Email</th>
                            <th>Security Level</th>
                            <th>Default Board</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>admin</td>
                            <td>None</td>
                            <td>Administrator</td>
                            <td>None</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>demo</td>
                            <td>None</td>
                            <td>User</td>
                            <td>None</td>
                            <td>
                                <a href=""><i class="icon icon-edit"></i></a>
                                <a href=""><i class="icon icon-trash-empty"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>other_guy</td>
                            <td>None</td>
                            <td>Board Administrator</td>
                            <td>None</td>
                            <td>
                                <a href=""><i class="icon icon-edit"></i></a>
                                <a href=""><i class="icon icon-trash-empty"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button>Add User</button>
            </div>
        </section>
    </div>

    <div class="half-page">
        <section>
            <h2>Board Administration</h2>

            <div class="row">
                <h3>Current Boards</h3>

                <div class="small right">
                    <label class="inline">
                        Sort By:
                        <select class="autosize">
                            <option>Board Name</option>
                            <option>Creation Date</option>
                        </select>
                    </label>
                    <label class="inline">
                        Filter By:
                        <select class="autosize">
                            <option>All Boards</option>
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </label>
                    <label class="inline">
                        Show By User:
                        <select class="autosize">
                            <option>Any User</option>
                            <option>admin</option>
                        </select>
                    </label>
                </div>

                <table class="alternating">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Columns</th>
                            <th>Categories</th>
                            <th>Users</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="boards/1">Example Board</a></td>
                            <td>
                                <ul>
                                    <li>Col1<span class="badge" title="Item Count">3</span></li>
                                    <li>Col2<span class="badge" title="Item Count">0</span></li>
                                    <li>Col3<span class="badge" title="Item Count">5</span></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Cat1<span class="badge" title="Default Color" style="background-color:#debee8">&nbsp;</span></li>
                                    <li>Cat2<span class="badge" title="Default Color" style="background-color:#bee7f4">&nbsp;</span></li>
                                    <li>Cat3<span class="badge" title="Default Color" style="background-color:#ffffe0">&nbsp;</span></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>admin</li>
                                    <li>other_guy</li>
                                </ul>
                            </td>
                            <td>
                                <a href=""><i class="icon icon-edit"></i></a>
                                <a href=""><i class="icon icon-trash-empty"></i></a>
                                <label><input type="checkbox" checked> Active</label>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="boards/2">Other Board</a></td>
                            <td>
                                <ul>
                                    <li>One<span class="badge">0</span></li>
                                </ul>
                            </td>
                            <td></td>
                            <td>
                                <ul>
                                    <li>admin</li>
                                </ul>
                            </td>
                            <td>
                                <a href=""><i class="icon icon-edit"></i></a>
                                <a href=""><i class="icon icon-trash-empty"></i></a>
                                <label><input type="checkbox" checked> Active</label>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button>Add Board</button>
            </div>
        </section>

        <section>
            <h2>Automatic Actions</h2>

            <div class="row">
                <h3>Current Actions</h3>

                <table class="alternating no-bottom-margin">
                    <thead>
                        <tr>
                            <th>Board</th>
                            <th>Trigger</th>
                            <th>Action</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Example Board</td>
                            <td>Item assigned to user: admin</td>
                            <td>Set item color: #debee8</td>
                            <td><a href="#"><i class="icon icon-trash-empty"></i></a></td>
                        </tr>
                        <tr>
                            <td>Example Board</td>
                            <td>Item moved to column: Col3</td>
                            <td>Set item color: #debee8</td>
                            <td><a href="#"><i class="icon icon-trash-empty"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <h3>Add Action</h3>

                <table>
                    <thead>
                        <tr class="borderless">
                            <th>Select Board:</th>
                            <th>Select Trigger:</th>
                            <th>Select Action:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="borderless">
                            <td>
                                <select>
                                    <option>Select Board...</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                    <option>Item moves to column</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                    <option>Set item color</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="borderless">
                            <td></td>
                            <td>
                                <select>
                                    <option>Select Column</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                    <option>Select Color</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button class="right">Add Action</button>
            </div>
        </section>
    </div>
</div>

